<section class="col-sm-10 campaign-summary">
    <div class="row divided">
        <div class="col-sm-9">
            <h1 class="heading">{{ campaign.name }} <span class="label label-{{ campaign.status }}">{{ campaign.status }}</span></h1>
        </div>
    </div>
    <div class="row">
        {{#if campaign.message}}
            <div class="group">
                <div class="value">{{ campaign.message }}</div>
            </div>
        {{/if}}
        <div class="group">
            <div class="name">Campaign Name</div>
            <div class="value">{{ campaign.name }}</div>
        </div>

        {{#each campaign.cleaned_filters}}
            <div class="group">
                {{#if @index}}
                    <div class="name">Fallback Audience {{@index}}</div>
                {{else}}
                    <div class="name">Target Audience</div>
                {{/if}}
                {{#each this}}
                    <div class="value">{{this}}</div>
                {{/each}}
            </div>
        {{/each}}

        {{#if campaign.cleaned_filters}}
            <div class="group">
            <span class="name">Empty Fallback: </span>
            {{#if campaign.empty_fallback}}
                Yes
            {{else}}
                No
            {{/if}}
            </div>
        {{/if}}
        <div class="group">
            <div class="name">Friend Suggestion Page</div>
            <div class="value">Headline: {{ campaign.headline }}</div>
            <div class="value">Sub-header: {{ campaign.subheader }}</div>
            <div class="value">Thanks URL: <a href="{{ campaign.thanks_url }}" target="_blank">{{ campaign.thanks_url }}</a></div>
            <div class="value">Error URL: <a href="{{ campaign.error_url }}" target="_blank">{{ campaign.error_url }}</a></div>
        </div>
        <div class="group">
            <div class="name">Facebook Post</div>
            <div class="value">Cause or Organization: {{ campaign.org_name }}</div>
        </div>

        <div class="group">
            <div class="value">Suggested Message 1: {{ campaign.suggested_message_1 }}</div>
            <div class="value">Suggested Message 2: {{ campaign.suggested_message_2 }}</div>
        </div>

        <div class="group">
            <div class="value">Post Image URL: <a href="{{ campaign.og_image }}" target="_blank">{{ campaign.og_image }}</a></div>
            <div class="value">Post Title: {{ campaign.og_title }}</div>
            <div class="value">Post Text: {{ campaign.og_description }}</div>
            <div class="value">Post Content URL: <a href="{{ campaign.content_url }}" target="_blank">{{ campaign.content_url }}</a></div>
        </div>

        <div class="group">
        {{#if campaign.isPublished}}
        {{#if campaign.sharing_url}}
            <div class="name">Campaign URL</div>
            <div class="value"><a href="{{ campaign.sharing_url }}" target="_blank">{{ campaign.sharing_url }}</a></div>
        {{/if}}
        {{/if}}
        </div>

        <div class="group">
            <button data-js="homeBtn" type="button" class="btn homeBtn">Home</button>
            <span class=campaign-actions>
                <button data-js="cloneBtn" type="button" class="btn btn-default cloneBtn" aria-label="Clone">Clone</button>

                {{#if campaign.isDraft}}
                    <button data-js="editBtn" type="button" class="btn btn-default editBtn">Edit</button>

                    {{#if campaign.sharing_url}}
                    <button data-js="previewBtn" type="button" class="btn btn-default previewBtn">Preview</button>
                    {{/if}}

                    <button data-js="publishBtn" type="button" class="btn btn-default publishBtn">Publish</button>
                {{/if}}
                {{#if campaign.isPublished}}
		{{#if canArchive }}
                    <button data-js="archiveBtn" type="button" class="btn btn-default archiveBtn">Archive</button>
                {{/if}}
                {{/if}}
            </span>
        </div>
    </div>

</section>
