<section class="col-sm-10 client-campaigns">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="heading">Campaigns</h1>
        </div>
        <div class="col-sm-3">
            <button data-js="createCampaignBtn" type="button" class="btn create-campaign-btn">Create Campaign</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#each campaigns}}
                <div data-js="campaignRow" data-id="{{pk}}" class="row campaign-row">
                    <div class="col-sm-5">
                        <div data-id="{{pk}}" data-js="campaignName" class="name">{{name}}</div>
                        <div class="created">
                            <strong>Created </strong>
                            <span>on {{create_dt}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    {{#if stats}}
                    {{/if}}
                    </div>
                    <div class="col-sm-3 pull-right text-right campaign-actions">
                        {{#if isPublished}}
                            <span class="published">Published</span>
                        {{else}} {{#if isDraft}}
                            <button data-js="editButton" type="button" class="btn btn-default editBtn">Edit</button>
                        {{/if}} {{/if}}
                        <button data-js="cloneButton" type="button" class="btn btn-default cloneBtn" aria-label="Clone">Clone</button>
                        <!--Use this when there are more options
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Clone</a></li>
                                <li><a href="#">Reports</a></li>
                                <li><a href="#">Faces Page</a></li>
                                <li><a href="#">Facebook Post</a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>


