<div data-filter-id="set_number={{feature}}.{{operator}}.{{value}}" class="col-md-2 draggable">
    <p>
        <abbr title="{{feature}} {{operator}} {{value}}">
            {{feature}} {{operator}} {{shortValue}}
        </abbr>
    </p>
</div>
