<div title="{{ feature }} {{ operator }} {{ value }}"
     data-filter-id="set_number={{ feature }}.{{ operator }}.{{ value }}" class="span2 draggable">
     <div class="filter-content-container">
         <span class="filter">{{ readable }}</span>
     </div>
</div>
