<div title="{{ feature }} {{ operator }} {{ value }}" data-filter-id="set_number={{ feature }}.{{ operator }}.{{ value }}" class="filter draggable">
    <div class="filter-table-wrap">
        <div class="filter-table-cell-wrap">
            <div>{{ readable }}</div>
        </div>
    </div>
</div>
