<div title="{{ feature }} {{ operator }} {{ value }}" data-filter-id="set_number={{ feature }}.{{ operator }}.{{ value }}" class="filter draggable">
    <div class="filter-cell">
        <div>{{ readable }}</div>
    </div>
</div>
